tree-sitter/** linguist-vendored
Sources/TestTreeSitterLanguages/** linguist-vendored
Sources/Runestone/Documentation.docc/** linguist-documentation
Example/Languages/Sources/** linguist-vendored
UITests/Languages/Sources/** linguist-vendored
