name: Build Example Project

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'Example/**'

jobs:
  build:
    name: Build example project for iPhone 13
    runs-on: macOS-11
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build
        run: |
          xcodebuild build -project Example/Example.xcodeproj -scheme Example -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 13'
